<div class="tweet-insert mb-2 pb-3 d-flex justify-content-between">
  <div class="tweet-avatar my-2 mx-3">
    <div class="avatar">
    </div>
  </div>
  <%= form_for @tweet, method: 'post', html: { class: 'tweet-input' } do |f| %>
    <div class="my-2">
      <%= f.text_area :content, placeholder: '有什麼新鮮事？', class: 'form-control' %>
    </div>
    <%= f.submit '推文', class: 'submit-btn px-3 py-2 mr-3' %>
  <% end %>
</div>
<% @tweets.each do |tweet| %>
  <div class="tweet-info border-bottom py-2">
    <div class="d-flex">
      <div class="tweet-avatar py-2 px-3">
        <div class="avatar">
        </div>
      </div>
      <div class="tweet-container">
        <div class="tweet-user">
          <span class="user-nickname"><%= tweet.user.nickname %></span>
          <span class="user-account"><%= '@' + tweet.user.account %></span>
        </div>
        <div class="tweet-content py-1">
          <%= tweet.content %>
        </div>
        <div class="tweet-icon">
          <a href="#" class="pr-4"><i class="far fa-comment"></i></a>
          <a href="#" class="pr-4"><i class="fas fa-retweet"></i></a>
          <%= link_to like_api_v1_tweet_path(tweet), class:'pr-4', method: 'patch' do %>
            <% if tweet.like_by(current_user) %>
              <i class="fas fa-heart"></i>
            <% else %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
          <%= link_to tweet, method: 'delete', data: {confirm: '要刪除推文嗎？'} do %>
            <i class="far fa-trash-alt"></i>
          <% end if tweet.owned_by(current_user) %>
        </div>
      </div>  
    </div>
  </div>
<% end %>