<!DOCTYPE html>
<html>
  <head>
    <title>Yutter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex">
      <div>
        <%= render 'shares/left-nav' %>
      </div>
      <div class="w-100 border-left border-right">
        <%= render 'shares/navbar' %>
        <div class="w-100">
          <%= yield %>
        </div>
      </div>
      <div>
        <%= render 'shares/friend-nav' %>
      </div>
    </div>
  </body>
</html>
